body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}
table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }